/* Base Styles */

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.4em;
	color: #222;
	font-family: 'Raleway', sans-serif;
}

/* ClearFix */

.cf:before,
.cf:after {
  content: " ";
  display: table; 
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* Header Styles */

header {
	width: 100%;
	height: 100px;
	background: #F0F8FF;
	position: fixed;
	z-index: 2;
	box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}

.small {
  height: 50px;
}

.small .logo {
	font-size: 2.6em;
	margin-top: 5px;
}

nav {
	width: 80%;
	margin: 0 auto;
}

.logo {
	font-family: 'Lobster', cursive;
	font-size: 4em;
	font-weight: 400;
	float: left;
	padding: 5px;
	margin-top: 25px;
}

/* Transitions */

header, .logo{
	-webkit-transition: all 1s;
          transition: all 1s; 
}

/* Section Styles */

.section {
	max-width: 100%; 
	height: 42em;
	padding: 10px;
}

.section h2 {
	color: #fff;
	font-size: 6em;
	font-weight: 200;
	text-align: center;
	padding: 2.5em 0;
}

.one{
	background: #6bb6ff;
}

.two{
	background: #1E90FF;
}

.three{
	background: #8B4789;
}

.four{
	background: #872657;
}